<div class="row">
  <div class="col-md-12">
    <div *ngIf="account">
      <h1 class="display-4">Welcome to The Next Tarantino {{ account.firstName }}!</h1>
    </div>
  </div>

  <jhi-alert></jhi-alert>

  <div class="table-responsive" *ngIf="watchedMovies">
    <div>
      <h3 class="display-8">Your watched movies</h3>
    </div>
    <table class="table table-striped" aria-describedby="user-management-page-heading">
      <thead>
      <tr>
        <th scope="col"><span>Title</span></th>
        <th scope="col"><span>Year</span></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let movie of watchedMovies">
                <td>
                    <a [routerLink]="['./', movie.imdbId, 'view']">{{ movie.title }}</a>
                </td>
                <td>{{ movie.year }}</td>
                <td>
                    <button class="btn btn-success btn-sm"
                            (click)="setWatched(movie, !movie.watched)">{{ movie.watched
                        ? "Not Watched" : "Watched"}}</button>
                </td>
                <td>
                    <button class="btn btn-warning btn-sm"
                            (click)="setFavourite(movie, !movie.favourite)">{{ movie.favourite
                        ? "Not Favourite" : "Favourite"}}</button>
                </td>
                <td>
                    <a [routerLink]="['./', movie.id, 'review']">Review</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="table-responsive" *ngIf="favouriteMovies">
        <div>
            <h3 class="display-8">Your favourite movies</h3>
        </div>
        <table class="table table-striped" aria-describedby="user-management-page-heading">
            <thead>
            <tr>
                <th scope="col"><span>Title</span></th>
                <th scope="col"><span>Year</span></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let movie of favouriteMovies">
                <td>
                    <a [routerLink]="['./', movie.imdbId, 'view']">{{ movie.title }}</a>
                </td>
                <td>{{ movie.year }}</td>
                <td>
                    <button class="btn btn-success btn-sm"
                            (click)="setWatched(movie, !movie.watched)">{{ movie.watched
                        ? "Not Watched" : "Watched"}}</button>
                </td>
                <td>
                    <button class="btn btn-warning btn-sm"
                            (click)="setFavourite(movie, !movie.favourite)">{{ movie.favourite
                        ? "Not Favourite" : "Favourite"}}</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
