<div class="row">
  <div class="col-md-12">
    <div *ngIf="account">
      <h1 class="display-4">Welcome to The Next Tarantino {{ account.firstName }}!</h1>
    </div>
  </div>

  <div class="table-responsive" *ngIf="movies">
    <table class="table table-striped" aria-describedby="user-management-page-heading">
      <thead>
      <tr jhiSort>
        <th scope="col"><span>Title</span></th>
        <th scope="col"><span>Year</span></th>
        <th scope="col"><span>Watched</span></th>
        <th scope="col"><span>Favourite</span></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let movie of movies">
        <td>{{ movie.title }}</td>
        <td>{{ movie.year }}</td>
        <td>{{ movie.watched }}</td>
        <td>{{ movie.favourite }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
